* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

body,
html {
    height: 100%;
}

.parallax-top {
    /* The image used */
    background-image: url("../img/sfondo_02.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-down {
    /* The image used */
    background-image: url("../img/bg3.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.responsive {
    width: 100%;
    height: auto;
}

.scritteBianche {
    color: white;
}

.marginTop {
    margin-top: 130px;
}

.prova {
    position: relative;
}

.prova li {
    background-color: black;
    height: 15px;
    width: 15px;
}

.zoom {
    transition: transform .4s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
}

.fader {
    animation: fading 3.5s ease-out normal;
    animation-iteration-count: 1;
}

.loader {
    position: absolute;
    top: 50%;
    left:50%;
    animation: fading 3.5s ease-out reverse;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes fading {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}



